p {
    color: rgb(159, 6, 173);
    font-size: 20px;
    text-align: center;
    }
    body{
        background-color:rgb(0, 0, 0)
        } 
        h1{
            color:rgb(0, 16, 243) ;
            font-size: 50px;
            text-align: center;
            background: ;
            }
        