p {
    color: rgb(245, 245, 245);
    font-size: 20px;
    text-align: center;
    }
    body{
        background-color:rgb(70, 6, 95);
        } 

h1{
color:rgb(255, 0, 0) ;
 font-size: 50px;
text-align: center;
background: ;
}

#SUS{

    width: 100%;
}
        